BasedOnStyle: Google
AccessModifierOffset: -2
BreakBeforeBraces: Allman
ColumnLimit: 0
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakConstructorInitializers: BeforeComma
PointerAlignment: Left
DerivePointerAlignment: false
