[submodule "3rdparty/CppHelpers"]
	path = 3rdparty/CppHelpers
	url = https://github.com/FelipeACXavier/CppHelpers.git
	branch = v1.0.1
[submodule "3rdparty/doxygen-awesome-css"]
	path = 3rdparty/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
	branch = v2.4.1
[submodule "3rdparty/qclementine"]
	path = 3rdparty/qclementine
	url = https://github.com/oclero/qlementine.git
[submodule "3rdparty/adaptagrams"]
	path = 3rdparty/adaptagrams
	url = https://github.com/mjwybrow/adaptagrams.git
[submodule "3rdparty/quazip"]
	path = 3rdparty/quazip
	url = https://github.com/stachenov/quazip.git
