/* ===============================
   GLOBAL DEFAULTS
   =============================== */

QWidget {
  background-color: @background;
  color: @foreground;
  selection-background-color: @selection_bg;
  selection-color: @selection_fg;
}

QWidget#SettingsPage {
  border-left: 1px solid @selection_bg;
}

/* ===============================
   SCROLLBARS
   =============================== */

QScrollBar:horizontal {
  background: @background;
  height: 8px;
}

QScrollBar::handle:horizontal {
  background: @scrollbar_handle;
  min-width: 20px;
  max-width: 50px;
  border-radius: @border_radius;
}

QScrollBar::handle:horizontal:hover {
  background: @selection_bg;
}

QScrollBar:vertical {
  background: @background;
  width: 8px;
}

QScrollBar::handle:vertical {
  background: @scrollbar_handle;
  min-height: 20px;
  max-height: 50px;
  border-radius: @border_radius;
}

QScrollBar::handle:vertical:hover {
  background: @selection_bg;
}

QScrollBar::add-line,
QScrollBar::sub-line {
  height: 0;
}

/* ===============================
   BUTTONS
   =============================== */

QPushButton {
  color: @foreground;
  background-color: @input_bg;

  padding: 2px 5px;

  border: 1px solid @control_border;
  border-radius: @border_radius;

  min-width: 24px;
  min-height: 24px;
}

QPushButton:hover {
  border-color: @selection_bg;
}

QPushButton:pressed {
  color: @selection_fg;
  border-color: @control_border;
  background-color: @selection_bg;
}

QPushButton#MainWindowButton {
  width: @canvas_tab_height;
  height: @canvas_tab_height;
}

QPushButton#TextAndIcon {
  min-width: 60px;
  padding: 2px 10px;
}

QPushButton#TextAndIcon:checked {
  background-color: @selection_bg;
}

QPushButton[hasActivity="true"] {
  background-color: @selection_bg;
}

QPushButton#MainWindowButton[hasActivity="true"] {
  background-color: @selection_bg;
}

QPushButton#TextAndIcon[hasActivity="true"] {
  background-color: @selection_bg;
}


/* ===============================
   QCHECKBOX
   =============================== */
QCheckBox {
  spacing: 5px;
}

QCheckBox::indicator {
  width: 28px;
  height: 24px;
  background: transparent;

  border: none;
  border-radius: 10px;

  margin-right: 5px;
}

QCheckBox::indicator:hover {
  color: @selection_bg;
}

QCheckBox::indicator:unchecked {
  image: url(@uncheck_icon);
}

QCheckBox::indicator:checked {
  image: url(@check_icon);
}

/* ===============================
   QSPINBOX
   =============================== */
QSpinBox {
  padding: 4px;

  color: @foreground;
  background-color: @input_bg;

  border: 1px solid @control_border;
  border-radius: @border_radius;
}

QSpinBox:hover {
  border-color: @selection_bg;
}

QSpinBox::up-button {
  subcontrol-origin: border;
  subcontrol-position: top right;

  width: 16px;
  border: 1px solid @control_border;
  border-top-right-radius: @border_radius;
}

QSpinBox::up-button:hover {
  border: 1px solid @selection_bg;
}

QSpinBox::up-arrow {
  image: url(@arrow_icon_up);
  width: 7px;
  height: 7px;
}

QSpinBox::down-button {
  subcontrol-origin: border;
  subcontrol-position: bottom right;

  width: 16px;
  border: 1px solid @control_border;
  border-bottom-right-radius: @border_radius;
}

QSpinBox::down-button:hover {
  border: 1px solid @selection_bg;
}

QSpinBox::down-arrow {
  image: url(@arrow_icon_down);
  width: 7px;
  height: 7px;
}

QSpinBox::down-arrow:disabled,
QSpinBox::down-arrow:off {
  image: url(@limit_icon);
}

/* ===============================
   QLABEL
   =============================== */
QLabel#HeaderButton {
  width: 30px;
  height: 30px;
  padding: 4px;

  background: @input_bg;
  border-top: 1px solid @control_border;
  border-left: 1px solid @control_border;
  border-bottom: 1px solid @control_border;
  border-top-left-radius: @border_radius;
  border-bottom-left-radius: @border_radius;
}

QLabel#PageTitle {
  font-size: 24px;
}

QLabel#HintLabel {
  font-size: 12px;
  color: @faded_foreground
}

QLabel#PropertyLabel {
  font-size: 16px;
  color: @foreground;
}

QLabel#PropertyColorPreview {
  width: 24px;
  border: 1px solid @foreground;
  border-radius: @border_radius
}

/* ===============================
   LINE EDIT / TEXT EDIT
   =============================== */
QTextBrowser {
  font-size: 16px;
  color: @foreground;
  background: @background;QPushButton

  padding: 4px;

  border: 1px solid @control_border;
  border-radius: @border_radius;
}

QLineEdit {
  font-size: 16px;
  color: @foreground;
  background: @input_bg;

  margin: 0px 5px;
  padding: 4px;

  border: none;
  border-bottom: 2px solid @foreground;
  border-radius: @border_radius;
}

QLineEdit:focus, QTextEdit:focus {
  border-bottom: 2px solid @selection_bg;
}

QLineEdit:hover {
  border-color: @selection_bg;
}

/* ===============================
   COMBO BOX
   =============================== */

QComboBox {
  padding: 4px;

  border: 1px solid @control_border;
  border-radius: @border_radius;
  background-color: @input_bg;

  /* Open the popup under the combo box */
  combobox-popup: 0;
}

QComboBox:on {
  border-radius: 0px;
  border-top-right-radius: @border_radius;
  border-top-left-radius: @border_radius;
}

QComboBox QAbstractItemView {
  font-size: 14px;

  background-color: @input_bg;
  selection-background-color: @selection_bg;

  border: 1px solid @control_border;
  border-bottom-left-radius: @border_radius;
  border-bottom-right-radius: @border_radius;
}

QComboBox QAbstractItemView::item {
  padding 5px 10px;
}

QComboBox QAbstractItemView::item:selected {
  background-color: @selection_bg;
}

QComboBox:hover {
  border-color: @selection_bg;
}

QComboBox:focus {
  outline: none;
}

QComboBox::drop-down {
  border-left: 1px solid @control_border;
  border-radius: 0px;
  width: 24px;
}

QComboBox::down-arrow {
  image: url(@arrow_icon_down);
  width: 10px;
  height: 10px;
}

QComboBox::down-arrow:on {
  image: url(@arrow_icon_up);
  width: 10px;
  height: 10px;
}

QComboBox#HeaderComboBox {
  min-width: 85px;
  border-radius: 0px;
  border-top-right-radius: @border_radius;
  border-bottom-right-radius: @border_radius;
}

QComboBox#HeaderComboBox:on {
  border-radius: 0px;
  border-top-right-radius: @border_radius;
}

/* ===============================
   TAB WIDGETS
   =============================== */

QTabWidget::pane {
  border: 1px @tab_border_style @tab_border_color;
}

QTabBar::tab {
  background: @tab_bg;
  border: @tab_border_size @tab_border_style @tab_border_color;
  border-bottom: 3px @tab_border_style @tab_border_color;
  border-top-left-radius: @border_radius;
  border-top-right-radius: @border_radius;

  padding: @tab_h_padding @tab_w_padding;
  margin: 0px;
}

QTabBar::tab:selected {
  background: @tab_selected_bg;
  border-bottom-color: @combobox_hover_border;
}

QTabWidget#LeftPanel QTabBar::tab {
  width: @left_tab_width;
}

QTabWidget#RightPanel QTabBar::tab {
  width: @right_tab_width;
}

QTabWidget#CanvasPanel QTabBar::tab {
  width: @canvas_tab_width;
  height: @canvas_tab_height;
}

QTabWidget#InfoPanel QTabBar::tab {
  width: @info_tab_width;
}

/* ===============================
   MENUS
   =============================== */

QMenu {
  color: @foreground;
  background-color: @input_bg;

  min-width: 200px;
  border: 1px solid @control_border;
  border-radius: @border_radius;
}

QMenu::item {
  color: @foreground;
}

QMenu::item:selected {
  color: @selection_fg;
  background-color: @selection_bg;
}

QMenu::item:disabled {
  color: @faded_foreground;
}

QMenu::separator {
  height: 1px;
  margin: 0px 5px;
  background: @faded_foreground;
}

QMenu::right-arrow {
  image: url(@arrow_icon_right);
  width: 10px;
  height: 10px;
}

QMenu QLabel {
  background: @input_bg;
  padding: 5px 5px;
  border-top-right-radius: @border_radius;
  border-top-left-radius: @border_radius;
}

/* ===============================
   TOOLBARS
   =============================== */

QToolBar {
  background: @toolbar_bg;
  border-bottom: 1px solid @toolbar_border;
}

QToolButton {
  /* background: transparent; */
  padding: 6px;
  border-radius: @border_radius;
}

QToolButton:hover {
  background: @toolbutton_hover_bg;
}

QToolButton:pressed {
  background: @button_pressed_bg;
  color: @button_pressed_fg;
}

QToolBar#LogToolBar {
  max-height: 32px;
  margin: 2px 4px;
}

/* ===============================
   TOOLTIPS
   =============================== */

QToolTip {
  background-color: @background;
  color: @foreground;
  border: @tooltip_border_size @tooltip_border_style @tooltip_border_color;
  padding: @tooltip_h_padding @tooltip_w_padding;
  border-radius: @border_radius;
  font-size: 14px;
}

/* ===============================
   TREEVIEW
   =============================== */

/* QTreeView::branch:has-siblings:!adjoins-item {
  border-image: url(:/assets/vline.png) 0;
}

QTreeView::branch:has-siblings:adjoins-item {
  border-image: url(:/assets/branch-more.png) 0;
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
  border-image: url(:/assets/branch-end.png) 0;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
  border-image: none;
  image: url(:/icons/arrow-right.svg);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
  border-image: none;
  image: url(:/icons/arrow-down.svg);
} */

/* ===============================
   QSPLITER
   =============================== */

QSplitter::handle:hover {
  /* border: 1px solid @selection_fg; */
  background: @selection_bg;
}

QSplitter::handle:horizontal {
  width: 5px;
}

QSplitter::handle:vertical {
  height: 5px;
}

/* ===============================
   QFrame
   =============================== */

QFrame#HLine {
  color: @foreground;
  background: @foreground;
}

/* ===============================
   QLISTWIDGET
   =============================== */
QListWidget#SettingsList {
  padding: 5px 1px;
  margin-right: 0px;
  padding-right: 0px;
}

QListWidget#SettingsList::item {
  padding: 5px;
  border-bottom: 2px solid @background;
}

QListWidget#SettingsList::item:selected {
  color: @foreground;
  background: @background;

  /* padding-left: 2px; */
  /* border-left: 2px solid @selection_bg; */
  border-bottom: 2px solid @selection_bg;
}

/* ===============================
   NOTIFICATIONWIDGET
   =============================== */
NotificationWidget {
  color: @foreground;
  background-color: @background;

  min-width: 300px;
  max-width: @notification_width;
  min-height: @min_notification_height;
  max-height: @max_notification_height;

  padding: 0px;
  font-size: 16px;

  border: 2px solid @foreground;
  border-radius: @border_radius;
}

QPushButton#FlatButton {
  max-width: 16px;
  max-height: 16px;
  padding: 0;

  background: transparent;
  border: none;
}

QPushButton#FlatButton:hover {
  border: 1px solid @foreground;
}

QLabel#NotificationTitle {
  background: transparent;
  font-size: 20px;
  padding: 0;
}

QWidget#NotificationHeader {
  height: 36px;

  color: @foreground;
  background-color: @background;
  font: bold 20px;

  border-top-left-radius: @border_radius;
  border-top-right-radius: @border_radius;
  border-bottom: 2px solid @foreground;
}

QWidget#NotificationBody {
  border-bottom-left-radius: @border_radius;
  border-bottom-right-radius: @border_radius;
}

NotificationWidget[level="info"] {
  border: 2px solid @info_color;
}

QWidget#NotificationHeader[level="info"] {
  border-bottom: px solid @info_color;
}

NotificationWidget[level="error"] {
  border: 2px solid @error_color;
}

QWidget#NotificationHeader[level="error"] {
  border-bottom: 2px solid @error_color;
}

NotificationWidget[level="warning"] {
  border: 2px solid @warning_color;
}

QWidget#NotificationHeader[level="warning"] {
  border-bottom: 2px solid @warning_color;
}

/* ===============================
   QTABLEVIEW
   =============================== */
QTableView {
  color: @foreground;
  background: @input_bg;

  border: 1px solid @control_border;
  border-bottom-left-radius: @border_radius;
  border-bottom-right-radius: @border_radius;
}

QTableView QHeaderView::section {
  color: @foreground;
  background-color: @background;

  padding: 2px 5px;

  border: none;
  border-bottom: 1px solid @control_border;
}

QTableView QHeaderView::section:first {
  border-top-left-radius: @border_radius;
}

QTableView QHeaderView::section:last {
  border-top-right-radius: @border_radius;
}

QTableView::item {
  padding: 2px 5px;
  border-bottom: 1px solid @control_border;
}

QTableView::item:hover {
  border-bottom: 1px solid @selection_bg;

}
QTableView::item:selected {
  color: @selection_fg;
  background-color: @selection_bg;
}

QTableView::item:focus {
  outline: none;
}
